#main {
    margin-top: 75px;
    width: 60%;
}

#user-detail {
    height: 125px;
    width: 100%;
}

#staffList {
    width: 50%;
    float: left;
}

#staffList {
    width: 50%;
    float: right;
}