aside#aside_left {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    width: 15%;
    left: 0;
    bottom: 0;
    top: 0;
}

#roleList {
    padding: 20px 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.7);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    overflow-x: visible;
}

#roleList button[data-role_id] {
    width: 100%;
    display: block;
    padding: 3px 0;
    font-size: 17px;
    text-align: left;
    padding-left: 20px;
}

#roleList button[data-role_id]:hover::before {
    /* long-arrow-alt-right */
    content: "\f30b\ ";
    color: blue;
    overflow: visible;
    white-space: nowrap;
}



aside#curr {
    padding: 10px 15px;
    position: fixed;
    top: 0;
    width: 15%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.5)
}

#curr>[data-curr] {
    font-size: 18px;
    margin: 10px 0;
}

#curr>[data-curr]>* {
    height: 25px;
}

#curr .left {
    font-size: 25px;
}

#curr .right {
    font-size: 20px;
}

/* 添加用户 */
#curr button {
    margin: 10px 0;
    font-size: 18px;
    align-self: flex-start;
}

input[type=text],
select {
    width: 120px;
}

#dot {
    float: right;
    font-size: 16px;
}

#table {
    position: fixed;
    bottom: 0;
    width: 68%;
    left: 16%;
    right: 1%;
    background: white;
    top: 0;
    /* overflow: scroll; */
    z-index: 5;
}

/* radar relative */
.radar-tooltips {
    background: rgba(0, 0, 0, .5);
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    transition: all .2s;
}

#radar .canvas {
    width: 50%;
    height: 700px;
}

#radar {
    display: none;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 6;
    background: rgba(255, 255, 255, 1);
    width: 68%;
    left: 16%;
}