#head {
    height: 50px;
    line-height: 50px;
    display: flex;
    flex-direction: row;
    background: black;
    color: white;
    position: absolute;
    top: 0;
    left: 300px;
    z-index: 5;
}

#head [data-role] {
    width: 150px;
    white-space: nowrap;
    line-height: 50px;
    overflow: visible;
}

#head [data-role] span {
    overflow: hidden;
    background: black;
    width: 150px;
    height: 50px;
    display: inline-block;
    padding-right: 15px;
}

#head [data-role]:hover span {
    width: auto;
    position: relative;
    z-index: 6;
}

#column {
    position: absolute;
    overflow: visible;
    width: 300px;
    top: 50px;
}

#skill_column {
    width: 250px;
    position: absolute;
    top: 0;
    left: 50px;
    display: flex;
    flex-direction: column;
    color: black;
    z-index: 5;
}

#skill_column [data-skill] {
    width: 250px;
    height: 50px;
    border: none;
    line-height: 50px;
    overflow: visible;
    white-space: nowrap;
    background: white;
}

#skill_column .skillDiv span {
    display: inline-block;
    background: white;
    width: 100%;
    overflow: hidden;
    padding: 0 10px;
}

#skill_column .skillDiv:hover span {
    width: auto;
}

.delBtn {
    display: none;
    font-size: 20px;
    color: red;
    cursor: pointer;
    float: left;
    padding: 5px;
    height: 50px;
}

.delBtn::before {
    margin: 0;
}

div:hover>.delBtn {
    display: inline-block;
}

#type_column {
    z-index: 5;
    font-size: 18px;
    line-height: 50px;
    display: flex;
    flex-direction: row;
    background: #f8f8f8;
    white-space: nowrap;
    color: gray;
    position: absolute;
    height: 50px;
    left: 0;
    top: -50px;
    transform-origin: 0% 100%;
    -ms-transform-origin: 0% 100%;
    -webkit-transform-origin: 0% 100%;
    transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    filter: opacity(80%);
}

#grid-data {
    position: absolute;
    top: 50px;
    left: 300px;
}

.row {
    height: 50px;
    line-height: 50px;
    display: flex;
    flex-direction: row;
}

.row [data-role] {
    width: 150px;
}

.row:nth-child(odd)>div:nth-child(odd),
.row:nth-child(even)>div:nth-child(even) {
    background: rgba(0, 0, 0, 0.05);
    color: black;
}

.row:nth-child(odd)>div:nth-child(even),
.row:nth-child(even)>div:nth-child(odd) {
    background: rgba(255, 255, 255, 0.5);
    color: rgba(0, 0, 0, 0.7);
}

.revisable:hover {
    border: 1px solid black;
    cursor: pointer;
}

#editor {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 7;
    background: rgba(0, 0, 0, 0.5);
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#editor label {
    width: 100px;
    display: inline-block;
}

#updateEditor,
#addSkillEditor,
#addRoleEditor {
    background: #eee;
    padding: 20px 30px;
    border-radius: 4px;
    display: none;
}

#main {
    overflow: scroll;
    float: left;
    position: fixed;
    width: 100%;
    height: 100%;
}

.fas.fa-plus::before {
    margin: 0;
}

.fas.fa-plus {
    background: white;
    color: lime;
    font-size: 25px;
    height: 50px;
    line-height: 50px;
}

.fas.fa-plus:hover {
    cursor: copy;
    filter: invert(100%);
}

input {
    width: 150px;
}

.editor-title {
    color: gray;
    font-size: 20px;
    display: block;
}

.typeDiv {
    height: 100%;
    border-right: 1px solid gray;
    overflow: hidden;
    padding: 0 5px;
}

.typeDiv:hover {
    overflow: visible;
}

.typeDiv>div {
    display: inline;
}

.skillListDiv {
    display: flex;
    flex-direction: column;
}

.emptyRow {
    background: rgba(255, 255, 255, 0.3);
}

.fa-plus.addTypeBtn {
    width: 50px;
    height: 50px;
    background: rgba(255, 255, 255, 0.5);
    z-index: -1;
}
.top-left{
    position: fixed;
    z-index: 6;
    top: 0;
    left: 0;
    width: 300px;
    height: 50px;
    background: gray;
}