<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Login |
        <%- global.cfg.app.name %>
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/img/favicon.png" type="image/png" sizes="48x48">
    <link rel="stylesheet" type="text/css" href="/css/public.css">
    <link rel="stylesheet" type="text/css" href="/css/login.css">
    <link rel="stylesheet" href="/fontawesome/css/all.min.css">
</head>

<body>
    <header>
        <br>
        <br>
        <h1>
            <%- global.cfg.app.name.toUpperCase() %>
        </h1>
        <br>
        <h2>
            <%- global.cfg.app.version %>
        </h2>
    </header>





    <!-- https://code.google.com/archive/p/crypto-js/ -->





    <div id="error"></div>





    <div id="main">
        <div id="form">
            <br>
            <div>
                <label class="fas fa-fingerprint"></label>
                <input id="usern" tabindex="1" autofocus="autofocus" placeholder="username" type="text" name="username">
            </div>
            <br>
            <div>
                <label class="fas fa-key"></label>
                <input id='pass' tabindex="2" placeholder="password" type="password">
            </div>
            <br>
            <div>
                <label class="fas fa-sign-in-alt"></label>
                <button id="submit" tabindex="3" onclick="submit()">
                    <span>LOGIN</span>
                    <i class="fas fa-reply"></i>
                </button>
            </div>
            <!-- 没有name属性的表单将不被传输 -->

        </div>
    </div>



    <footer>
        <br> developed by
        <a target="_blank" href="https://github.com/JinHengyu">Jim</a>
    </footer>



    <script src="/node_modules/browser-detect/dist/browser-detect.umd.js"></script>

    <script>
        if (browserDetect().name == 'ie') document.body.innerHTML =
            '<h1>Oops Seems ur Using SHITTY Internet Explorer</h1><br><h2>Get a Chrome r Firefox Plz :-)</h2>'
    </script>

    <script src="/CryptoJS/rollups/sha1.js"></script>
    <script src="/js/login.js"></script>
    
</body>

</html>