<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Main |
        <%- global.cfg.app.name %>
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/img/favicon.png" type="image/png" sizes="48x48">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/public.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/css/outer.css" />
    <link rel="stylesheet" href="/fontawesome/css/all.min.css">

</head>

<body>

    <div class="none">
        <div id="arrow" class="fas fa-sort-down"></div>
    </div>
    

    <header>



        <div id="menu">
            <button class="fas fa-home" id="indexBtn" onclick="switchInner('/view/index',this)">Home</button>
            <button class="fas fa-user" id="people_skill_btn" onclick="switchInner('/view/people',this)">People</button>
            <button class="fas fa-tag" id="people_type_btn" onclick="switchInner('/view/role',this,['staff'])">Role</button>
        </div>


        <div class="separator"></div>

        <div id="user-info">
            <div class="fas fa-user-graduate">
                <%- user.name %>
            </div>

            <div class="fas fa-code-branch">
                <%= user.dept %>
            </div>

            <button class=" fas fa-sign-out-alt" onclick='location.href="/log?logout=1"'>
                logout
            </button>
        </div>



    </header>





    <iframe seamless>

    </iframe>





    <script src="/js/outer.js"></script>

</body>

</html>