<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>people</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/public.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/people.css" />
    <link rel="stylesheet" href="/fontawesome/css/all.min.css">


</head>


<body>

    <div class="none">
        <div id="dot" class="fas fa-circle"></div>
        <datalist id="typeList"></datalist>
    </div>



    <!-- 左侧边栏 -->
    <aside id="aside_left">
        <div id="peoList"></div>
    </aside>



    <!-- 右侧边栏 -->
    <!-- proxy同步 -->
    <aside id="curr">
        <div data-curr="peo_name" class="fas fa-user"></div>
        <div data-curr="peo_usern" class="fas fa-fingerprint"></div>
        <div data-curr="role_name" class="fas fa-tag"></div>
        <div data-curr="skill_name" class="fas fa-star"></div>
        <div data-curr="skill_desc" class="fas fa-star"></div>
        <div data-curr="type" class="fas fa-star"></div>


        <button class="fas fa-chart-pie" onclick="drawSkillRadar(6)">radar on skill</button>
        <button class="fas fa-chart-pie" onclick="drawTypeRadar(6)">radar on type</button>

        <button id="addPeo" class="fas fa-user-plus" onclick="openEdi('addPeo')">add people</button>
        <button id="setPeo" class="fas fa-cog" onclick="openEdi('setPeo')">set people</button>

        <button id="addSkill" class="fas fa-user-plus" onclick="openEdi('addSkill')">add skill</button>
        <button id="setSkill" class="fas fa-cog" onclick="if(curr.skill)openEdi('setSkill')">set skill</button>

    </aside>




    <!-- table -->
    <div id="table" class=" ag-theme-material"></div>

    <!-- radar -->
    <div ondblclick="this.style.display='none'" id="radar"></div>



    <div id="edi" onclick='this.style.display="none"' class="none">

        <div data-edi="setRow" class="innerEdi">
            <div class="edi_title">UPDATE</div>
            <div>
                <label for="">Personal Target :</label>
                <input type='number' min="0" max="5" step="1" class="my_tar">
            </div>
            <div>
                <label for="">Actual :</label>
                <input type='number' min="0" max="5" step="1" class="real">
            </div>
            <div>
                <label for="">Action :</label>
                <select class="act">
                    <option value="On Job Trainning">On Job Trainning</option>
                    <option value="Class Room Trainning">Class Room Trainning</option>
                    <option value="Self Learning">Self Learning</option>
                    <option value="Others">Others</option>
                </select>
            </div>
            <div>
                <label>Action Status:</label>
                <select class="act_sta">
                    <option value="open">open</option>
                    <option value="planned">planned</option>
                    <option value="ongoing">ongoing</option>
                    <option value="closed">closed</option>
                </select>
            </div>
            <div>
                <label>Action Detail :</label>
                <textarea type="text" class="act_de"></textarea>
            </div>
            <div>
                <label>Comment :</label>
                <textarea type="text" class="comm"></textarea>
            </div>
            <button onclick='sendSetRow()' class='submit left'>Submit</button>
        </div>



        <div data-edi="addPeo" class="innerEdi">
            <div class="edi_title">ADD PEOPLE</div>

            <label for="">name :</label>
            <input type='text' class="name">
            <br>
            <label for="">username :</label>
            <input type='text' class="usern">
            <br>
            <label for="">password :</label>
            <input type='password' class="pass">
            <br>
            <label for="">Department :</label>
            <input type='text' class="dept" readonly>
            <br>
            <label>role :</label>
            <select class="role_id">
            </select>
            <br>
            <label for="">level :</label>
            <select type='text' class="level">
                <option value="staff">employee</option>
                <option value="leader">manager</option>
            </select>
            <br>
            <button onclick="sendAddPeo()" class="submit left">Submit</button>
        </div>


        <div data-edi="addSkill" class="innerEdi">
            <div class="edi_title">ADD SKILL</div>

            <div>
                <label>name :</label>
                <input type='text' class="name">
            </div>
            <div>
                <label for="">type :</label>
                <input type='text' class="type" list="typeList">
            </div>
            <div>
                <label for="">attribute :</label>
                <select class="attr">
                    <option value="common">common</option>
                    <option value="specific">specific</option>
                </select>
            </div>
            <div>
                <label for="">desc :</label>
                <textarea type='text' class="desc"></textarea>
            </div>
            <br>
            <button onclick="sendAddSkill()" class="submit left">Submit</button>
        </div>


        <div data-edi="setPeo" class="innerEdi">
            <div class="edi_title">PEOPLE SETTING</div>

            <div>
                <label>name :</label>
                <input type='text' class="name">
            </div>
            <div>
                <label for="">username :</label>
                <input type='text' class="usern" readonly>
            </div>
            <div>

                <label for="">old password :</label>
                <input type='password' class="pass_old">
            </div>
            <div>

                <label for="">new password :</label>
                <input type='password' class="pass_new">
            </div>
            <div>
                <label for="">role :</label>
                <select class="role_id"></select>
            </div>
            <br>
            <button onclick="sendSetPeo()" class="submit left">Submit</button>
            <button onclick='sendDropPeo()' class='drop right'>Delete</button>
        </div>


        <div data-edi="setSkill" class="innerEdi">
            <div class="edi_title">SKILL SETTING</div>

            <div>
                <label>ID :</label>
                <input type='text' class="_id" readonly>
            </div>
            <div>
                <label>Name :</label>
                <input type='text' class="name">
            </div>
            <div>
                <label>Skill Type :</label>
                <input type='text' class="type" list="typeList">
            </div>
            <div>
                <label for="">attribute :</label>
                <select class="attr">
                    <option value="common">common</option>
                    <option value="specific">specific</option>
                </select>
            </div>
            <div>
                <label>Description :</label>
                <textarea type='text' class="desc"></textarea>
            </div>
            <button onclick="sendSetSkill()" class="submit left">Submit</button>
            <button onclick='sendDropSkill()' class='drop right'>Delete</button>
        </div>


        <div id="loading">loading...</div>
    </div>

    <script src="/js/people.js"></script>
    <script src="/js/editor.js"></script>
    <script src="/ag-grid/ag-grid-enterprise.min.js"></script>
    <script src="/js/radar.js"></script>




</body>

</html>