<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>people/type</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/public.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/people_type_2.css" />
    <link rel="stylesheet" href="/fontawesome-free-5.1.0-web/css/all.css">





</head>


<body>




    <!-- 左侧边栏 -->
    <aside id="peopleList" class="">

        <!-- by ajax -->

    </aside>



    <!-- 右侧边栏 -->
    <aside id="people-detail">
        <div data-detail="name">
            <i class="left fas fa-user"></i>
            <span class="right"></span>
        </div>
        <div data-detail="username">
            <i class="left fas fa-fingerprint"></i>
            <span class="right"></span>
        </div>
        <div data-detail="branch">
            <i class="left fas fa-code-branch"></i>
            <span class="right"></span>
        </div>
        <div data-detail="role">
            <i class="left fas fa-tag"></i>
            <span class="right"></span>
        </div>



        <button id="radarToggler" class="fas fa-chart-pie" onclick="toggleRadar(6)"></button>


        <!-- <button id="dropPeople" class="fas fa-trash-alt" onclick="dropPeople()"> Drop</button> -->
    </aside>





    <iframe class="none" id="radarFrame" src="/view/radar" height="100%" width="68%"></iframe>


    <div class="main">







        <div id="head">


            <div class="type_name">type</div>
            <div class="skill_num">skill num</div>
            <div class="role_aim_sum">role aim sum</div>
            <div class="my_aim_sum">personal aim sum</div>
            <div class="r_sum">actual sum</div>

        </div>

        <div id="grid-data">


            <!-- 由ajax生成staff数据 -->


        </div>




    </div>



    <div id="editor" onclick='this.style.display="none"'>

      
    </div>




    <script src="/public.js"></script>
    <script src="/js/people_type_2.js"></script>





</body>

</html>