<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>ADMIN</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/fontawesome-free-5.1.0-web/css/all.css">
    <link rel="stylesheet" href="/public.css">
    <link rel="stylesheet" href="/css/target.css">

</head>

<body>






    <div id="main">






        <div class="top-left"></div>

        <div id="head">


        </div>

        <div id="column">

            <div id="type_column"></div>
            <div id="skill_column">

            </div>
        </div>




        <div id="grid-data">


            <!-- 由ajax生成row -->



        </div>




    </div>


















    <div id="editor" onclick='this.style.display="none"'>
        <div id="updateEditor" class="innerEditor">
            <span class="editor-title">NEW AIM</span>
            <br>
            <label for="">Skill :</label>
            <input type='text' class="skill" readonly>
            <br>
            <label for="">Role :</label>
            <input type='text' class="role" readonly>
            <br>
            <label for="">Target :</label>
            <input type='number' min="0" max="5" step="0.5" class="target">
            <br>
            <span class="loading"></span>
            <br>
            <button onclick='sendUpdate(true)' class='submit left'>Submit</button>
            <button onclick='editor.click()' class='cancel right'>Cancel</button>
        </div>

        <div id="addSkillEditor" class="innerEditor">
            <span class="editor-title">NEW SKILL</span>
            <div>
                <label for="">name :</label>
                <input type='text' class="name">
            </div>
            <div>
                <label for="">type :</label>
                <select class="type">
                    <%-
                    global.typeList.map(t=>`<option value="${t.name}">${t.name}</option>`)
                    %>
                </select>
            </div>
            <div>
                <label for="">description :</label>
                <textarea class="desc"></textarea>
            </div>
            <span class="loading"></span>
            <br>
            <button onclick="sendAddSkill()" class="submit left">Submit</button>
            <button onclick='editor.click()' class='cancel right'>Cancel</button>
        </div>


        <div id="addRoleEditor" class="innerEditor">
            <span class="editor-title">NEW ROLE</span>
            <br>
            <label for="">name :</label>
            <input type='text' class="name">
            <br>
            <label for="">branch :</label>
            <input type='text' class="branch" readonly>
            <br>
            <span class="loading"></span>
            <br>
            <button onclick='sendAddRole()' class='submit left'>Submit</button>
            <button onclick='editor.click()' class='cancel right'>Cancel</button>
        </div>


        <div id="addTypeEditor" class="innerEditor">
            <span class="editor-title">ADD TYPE</span>
            <br>
            <label for="">name :</label>
            <input type='text' class="name">
            <br>
            <label for="">class :</label>
            <select type='text' class="class">
                <%-
                    ['common','specific'].map(c=>`<option value="${c}">${c} skill</option>`).join()
                %>
            </select>
            <br>
            <span class="loading"></span>
            <br>
            <button onclick="sendAddType()" class="submit left">Submit</button>
            <button onclick='editor.click()' class='cancel right'>Cancel</button>
        </div>


    </div>














    <script src="/public.js"></script>
    <script src="/js/target.js"></script>
</body>

</html>